
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  
  }
  .yvd-logo {
    width: 50%;
    height: 50%;
 }
  .yvd-hero{
    background-color: #221D6E;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-white.px-2 {
    height: 12vh;
}

.yvd-heading-wrap{
  padding-top: 90px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}
.yvd-para-wrap{
  width: 637px;
  letter-spacing: 1.2px;
}
.input-field{
  width: 686px;
  background-color: rgb(217, 217, 217, 20%);
  border-radius: 15px;
  border: none;
  height: 40px;
  padding: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
input::placeholder {
  color: rgb(138, 133, 133);
  opacity: 1;
}

input:focus {
  border: 0px solid #00000000; /* Blue border */
  outline: none;             /* Optional: removes default blue glow */
}